:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #0000;
  background-color: #ffff;
  border-color: rgb(8, 8, 49);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  margin: 0;
  padding: 1rem 2rem;
  background-color: red;
  min-height: 100vh;
}

.btn-custom {
  border: 1px solid rgba(8, 8, 49, 0.8);
  border-radius: 4px;
  background-color: #ffff;
  padding: 0.4rem 1rem;
}

.btn-custom:hover {
  color: #ffffff;
  background-color: rgb(8, 8, 49);
}

.main {
  padding-top: 1rem;
}
